# Chart default values. Override by passing --set or -f to helm.

# Images and versions used for all deployments
images:
  oasis:
    platform:
      image: coreoasis/api_server
      version: dev
      imagePullPolicy: Never
    ui:
      image: coreoasis/oasisui_app
      version: 1.9.0
    worker_controller:
      image: coreoasis/worker_controller
      version: dev
      imagePullPolicy: Never
  postgres:
    image: postgres
    version: 12.8-alpine3.14
  mysql:
    image: mysql
    version: 8.0.26
  keycloak:
    image: quay.io/keycloak/keycloak
    version: 15.0.2
  init:
    image: busybox
    version: 1.28
  redis:
    image: redis
    version: 5.0.7

# Hostnames for Oasis UI, API, Prometheus, Alert manager and Grafana. If you change it, make sure you also
# update hostnames in oasis-monitoring values.yaml file. Read more about how in the README.md and how to
# reach your ingress.
#
# At the moment we need to keep the oasis API on a separate host since it can't coexist in the root with oasis
# ui. In the future we might be able to put them on the same if either oasis ui or oasis api supports subpaths.
ingress:

  # Certificate for TLS
  tls:
    # Set to true to use your certificate from the tls secret
    providedCertificate: false
    # Name of the secret containing your certificate
#    providedCertificateSecret: oasis-ingress-tls

  # Hostname for Oasis UI, API, Prometheus, Alert manager and Grafana
  uiHostname: ui.oasis.local

# Generate all password secrets - get them by using kubectl:
# kubectl get secrets/oasis-server --template={{.data.password}} | base64 -d
generatePasswords: false

nameOverride: ""
fullnameOverride: ""

# Control how kubernetes deployed pods to nodes - this is applied to all pods managed by this chart
#affinity:
#  # Place all pods on nodes with label oasis/node-type set to either 'platform' or 'small'
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: oasis/node-type
#              operator: In
#              values:
#                - platform
#                - small
#  # Do not schedule any pod on a node with a pod with label oasis/pod-type set to 'worker'
#  podAntiAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      - labelSelector:
#          matchExpressions:
#            - key: oasis/pod-type
#              operator: In
#              values:
#                - worker
#        topologyKey: "kubernetes.io/hostname"

databases:
# db_name:
#   type: redis|postgres|mysql
#   name: name (used as deployment and service)
#   port: port (for service)
  channel_layer:
    type: redis
    name: channel-layer
    port: 6379
  broker:
    type: redis
    name: broker
    port: 6379
  keycloak_db:
    type: postgres
    name: keycloak-db
    dbName: keycloak
    port: 5432
    volumeSize: 2Gi
    user: keycloak
    password: password
  celery_db:
    type: postgres
    name: celery-db
    dbName: celery
    port: 5432
    volumeSize: 2Gi
    user: celery
    password: password
  oasis_db:
    type: postgres
    name: server-db
    dbName: oasis
    port: 5432
    volumeSize: 2Gi
    user: oasis
    password: password

# Keycloak host, port and console admin credentials
keycloak:
  name: keycloak
  port: 8080
  # This is the keycloak admin account to manage the realm and all users
  user: keycloak
  password: password
  oasisRestApi:
    # These users will be created on the first deployment/installation but never updated. Use the keycloak admin
    # console to manage users.

    # The worker controller needs an account to listen to the web socket (queue)
    platformServiceAccount:
      username: platform-service-controller
      password: x7e+GK6Y8ac#grb&9vT4
    users:
      # A default user is created at first deployment.
      - username: admin
        password: password
        admin: true

# Oasis API host, port and credentials
oasisServer:
  name: oasis-server
  port: 8000
  # Default django admin user - please note this is not a valid REST API user when Keyclock is enabled
  user: admin
  password: password

  # Enable OIDC Keycloak authentication with 'keycloak or set to 'simple' for simple jwt.
  apiAuthType: keycloak
  oidc:
    endpoint: https://ui.oasis.local/auth/realms/oasis/protocol/openid-connect/
    clientName: oasis-server
    clientSecret: e4f4fb25-2250-4210-a7d6-9b16c3d2ab77

workerController:
  # The maximum number of workers the worker controller will start. No matter the number of analyses and models
  # this limit will never be exceeded by this worker controller.
  totalWorkerLimit: 10

  # Settings related to prioritized runs
  priority:

    # When multiple runs has started with different prioritise the worker controller will by using this limit
    # focus on the 'parallelModelsLimit' models with the highest priority runs.
    modelsLimit: 2

oasisUI:
  name: oasis-ui
  port: 8080

# Volumes to mount and use within the platform
volumes:
  # Placement of the shared filesystem on the kubernetes host node
  sharedFs:
    name: shared-fs
    storageCapacity: 2Gi
    hostPath: /data/shared-fs/
