psycopg2
boto3
daphne
celery
chainmap
channels==2.4.0
pymysql
jsonpickle
jsonschema
configparser
pathlib2
sqlalchemy
django
djangorestframework
markdown
django-filter
django-storages
django-cleanup
django-request-logging
djangorestframework
djangorestframework_simplejwt
django-model-utils>=4.0.0
django-debug-toolbar
coreapi
whitenoise
drf-yasg>=1.17.1

# new requ?
django_celery_results
channels_redis==2.4.2
pyrabbit
redis
mozilla_django_oidc
