-e git://github.com/OasisLMF/OasisLMF.git@feature/architecture2020#egg=oasislmf

boto3
celery
chainmap
pymysql
jsonpickle
jsonschema
configparser
pathlib2
ipython<6
sqlalchemy
django
djangorestframework
markdown
django-filter
django-storages
djangorestframework_simplejwt
django-model-utils>=4.0.0
coreapi
uwsgi
whitenoise
django_celery_results
drf-yasg>=1.17.1
channels
channels_redis
pyrabbit
redis
