oasislmf[extra]
oasis-data-manager
adlfs
s3fs
azure-core
azure-storage-blob
billiard
boto3
celery
configparser
fasteners
filelock
joblib
pathlib2
psycopg2-binary
pymysql
pytest
redis
natsort 
sqlalchemy
