azure-core>=1.38.0,<2.0
boto3>=1.0,<2.0
celery>=5.0,<6.0
chainmap>=1.0,<2.0
channels>=4.0.0
channels_redis>=4.0.0
daphne>=4.0,<5.0
django>=5.0,<6.0
django-cleanup>=9.0,<10.0
django-debug-toolbar>=4.0,<5.0
django-filter>=23.0,<24.0
django-model-utils>=4.0.0
django-request-logging>=0.0,<1.0
django-storages[azure]>=1.12.3
django_celery_results
djangorestframework>=3.0,<3.15.0
djangorestframework_simplejwt
drf-nested-routers>=0.0,<1.0
drf-spectacular>=0.27.0
gunicorn>=23.0,<24.0
joblib>=1.2.0
jsonpickle>=3.0,<4.0
jsonschema>=4.0,<5.0
markdown>=3.0,<4.0
mozilla_django_oidc
ods_tools
oasis-data-manager>=0.0,<1.0
pandas>=2.0,<3.0
pathlib2>=2.0,<3.0
psycopg[binary, pool]
psycopg2-binary>=2.0,<3.0
pyarrow
pyasn1>=0.6.2,<1.0
pymysql>=1.0,<2.0
pyrabbit>=1.0,<2.0
redis>=5.0,<6.0
sqlalchemy>=2.0,<3.0
setuptools
mysqlclient
whitenoise>=6.0,<7.0
azure-identity>=1.0,<2.0
urllib3 >=2.6.3,<3.0
coreschema
