-e git://github.com/oasislmf/oasislmf.git@feature/relative-lookup-config#egg=oasislmf
celery
pymysql
jsonpickle
requests
shutilwhich
certifi
numpy
fasteners
pytest
pytest-coverage
pytest-django
coverage
flake8
backports.tempfile
configparser
pathlib2
hypothesis
mock
tox
pip-tools
ipdb
ipython<6
sqlalchemy

docker-compose
django<2.0
-e git://github.com/wildfish/django-rest-framework#egg=djangorestframework
markdown
django-filter
model_mommy
django-webtest
djangorestframework_simplejwt
python-magic
django-model-utils
coreapi
uwsgi
whitenoise
django_celery_results
drf-yasg
