#oasislmf[extra]>=1.8.3
-e git://github.com/OasisLMF/OasisLMF.git@feature/refactor-arch2020#egg=oasislmf[extra]
celery
boto3
configparser
fasteners
pathlib2
pymysql
psycopg2-binary
sqlalchemy
pytest

# new requ
billiard
filelock
redis
