oasislmf[extra]>=1.25.0
#-e git://github.com/OasisLMF/OasisLMF.git@feature/refactor-arch2020#egg=oasislmf[extra]
celery
boto3
configparser
fasteners
pathlib2
pymysql
psycopg2-binary
sqlalchemy
pytest
azure-core
azure-storage-blob


# new requ
billiard
filelock
redis
