{{- $root := . -}}
{{- $initConfigMap := "init-model-registration" -}}
{{- $index := 0 -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $initConfigMap }}
data:
  multiple_model_registration.sh: |-
    {{- .Files.Get "resources/multiple_model_registration.sh" | indent 4 }}
  model_registration.sh: |-
    {{- .Files.Get "resources/model_registration.sh" | indent 4 }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: model-registration-{{ randAlphaNum 6 | lower }}
  labels:
    oasislmf/type: model-registration-job
spec:
  ttlSecondsAfterFinished: 600
  template:
    spec:
      {{- if .Values.registration_job.nodeSelector }}
      nodeSelector:
        {{- .Values.registration_job.nodeSelector | toYaml | nindent 8 }}
      {{- end }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list $root $root.Values.oasisServer.name) | nindent 8}}
      containers:
        - name: init-model-registration
          image: {{ .Values.modelImages.init.image }}:{{- .Values.modelImages.init.version }}
          env:
            {{- include "h.oasisServerEnvs" $root | indent 12 }}
            {{- $index = 0 -}}
            {{- range $name, $worker := .Values.workers }}
            - name: OASIS_MODEL_SUPPLIER_ID_{{ $index }}
              value: {{ .supplierId | quote}}
            - name: OASIS_MODEL_ID_{{ $index }}
              value: {{ .modelId | quote }}
            - name: OASIS_MODEL_VERSION_ID_{{ $index }}
              value: {{ .modelVersionId | quote }}
            - name: OASIS_MODEL_DATA_DIRECTORY_{{ $index }}
              value: /mnt/model_data_{{ $index }}
            - name: OASIS_MODEL_GROUPS_{{ $index }}
              value: {{ join "," $worker.groups | quote }}
              {{- $index = add1 $index -}}
            {{- end }}
          command: ["sh", "-c", "/tmp/multiple_model_registration.sh"]
          volumeMounts:
            - name: init-model-registration
              mountPath: /tmp/model_registration.sh
              subPath: model_registration.sh
            - name: init-model-registration
              mountPath: /tmp/multiple_model_registration.sh
              subPath: multiple_model_registration.sh
            {{- $index = 0 -}}
            {{- range $name, $worker := .Values.workers }}
              {{- range $worker.volumes }}
                {{- if eq .type "model-data" }}
            - name: {{ .name }}
              mountPath: /mnt/model_data_{{ $index }}
                  {{- if eq .source "azureFiles" }}
              subPath: {{ printf "%s/%s/%s" $worker.supplierId $worker.modelId $worker.modelVersionId }}
                  {{- end }}
                {{- end }}
              {{- end }}
              {{- $index = add1 $index -}}
            {{- end }}
      volumes:
        - name: init-model-registration
          configMap:
            name: {{ $initConfigMap }}
            defaultMode: 0777
        {{- range $root.Values.modelVolumes }}
        - name: {{ .name }}
          {{- if eq .source "host" }}
          persistentVolumeClaim:
            claimName: {{ .name }}
          {{- else if eq .source "azureFiles" }}
          csi:
            {{- toYaml .csi | nindent 12 }}
          {{- end }}
        {{- end }}
      restartPolicy: Never
  backoffLimit: 4
