# Chart default values. Override by passing --set or -f to helm.

# Volumes made accessible for workers for model data or any other worker specific data.
# Mount them in a worker by adding them to workers.volumes with identical name.
modelVolumes:
#  - name: A unique volume name
#    source: Either 'host' for host mounting path, or 'azureFiles' to mount an Azure files share
#    hostPath: Path on the data on the kubernetes host node.
#    storageCapacity: The size limit of this volume. Only requires if sources is 'host'
#    csi: The Azure csi drive setup. Only required if sources is 'azureFiles'
  # Piwind model data - hostPath must exist on the nodes fs
  - name: piwind-model-data-pv
    source: host
    hostPath: /data/model-data/piwind/
    storageCapacity: 1Gi
#  - name: oasis-models-azure-file
#    source: azureFiles
#    csi:
#      driver: file.csi.azure.com
#      volumeAttributes:
#        secretName: azure-secret
#        shareName: oasisfs

workers:
  piwind_demo: # A name that is unique among all workers
    supplierId: OasisLMF
    modelId: PiWind
    modelVersionId: "1"
    image: coreoasis/model_worker
    version: dev
    imagePullPolicy: Never
# If using a private image registry, define a secret as per
# https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ and
# reference it here.
#    registryCredentials: regcred
    env: # Additional worker environment variables
      - name: OASIS_DEBUG
        value: "1"
      - name: OASIS_MODEL_DATA_DIRECTORY
        value: /home/worker/model
    volumes: # Volume defined in modelVolumes
#      - name: name of volume defined in modelVolumes.
#        type: Type of volume, set 'model-data' for model data mounts. Any other value for additional mounts
#        mountPath: Path to mount this volume on
#        source: Can either be 'host' or 'azureFiles':
#                host       - Host path on kubernetes node
#                azureFiles - Azure files on account storage
      - name: piwind-model-data-pv
        type: model-data
        mountPath: /home/worker/model
        source: host         # Can either be 'host' or 'azureFiles':
                             #  host       - Host path on kubernetes node
                             #  azureFiles - Azure files on account storage
#        source: azureFiles
#      - name: oasis-models-azure-file
#        type: model-data
#        mountPath: /home/worker/model
#        source: azureFiles         # Can either be 'host' or 'azureFiles':
#                             #  host       - Host path on kubernetes node
#                             #  azureFiles - Azure files on account storage
#    groups:
#      - wind
#      - flood

# Image used by model registration init container and tcp check init container
modelImages:
  init:
    image: alpine
    version: 3.13.5

# Control which node to schedule model registration job
registration_job:
  nodeSelector: {}

# Control how kubernetes deployed pods to nodes - this is applied to all pods managed by this chart
#affinity:
#  # Place all pods on nodes with label oasislmf/node-type set to either 'platform' or 'small'
#  nodeAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      nodeSelectorTerms:
#        - matchExpressions:
#            - key: oasislmf/node-type
#              operator: In
#              values:
#                - platform
#                - small
#  # Do not schedule any pod on a node with a pod with label oasislmf/type set to 'worker'
#  podAntiAffinity:
#    requiredDuringSchedulingIgnoredDuringExecution:
#      - labelSelector:
#          matchExpressions:
#            - key: oasislmf/type
#              operator: In
#              values:
#                - worker
#        topologyKey: "kubernetes.io/hostname"

## Values to keep in sync with oasis-platform values ##
databases:
  broker:
    name: broker
    port: 5672
  celery_db:
    name: celery-db
    port: 5432
    type: postgres

oasisServer:
  name: oasis-server

volumes:
  host:
    sharedFs:
      name: shared-fs
## End of sync with oasis-platform values ##
