version: 1
metadata:
  name: custom-oasis-providers
  labels:
    system: "false"

# See here for examples: https://github.com/goauthentik/authentik/tree/main/blueprints

entries:
- model: authentik_core.group
  state: created
  identifiers:
    name: admin
  attrs:
    is_superuser: true
  id: oasis_admin_group
- model: authentik_providers_oauth2.oauth2provider
  state: present
  identifiers:
    name: provider-for-swagger
  attrs:
    name: "Provider for swagger"
    client_id: swagger
    client_secret: ZEbHaO5irVER9MJRu48PSglwHTbk4fHTkRSrdABYGpvkWlIgj1uReEXXkhBOnLHV5TwzuM5ASqFH4fHv6c9bDNYNnQqp3a5QT7niJSs5ulfu1ASFdYZb5s16m4UlHcPE
    client_type: confidential
    include_claims_in_id_token: true
    access_code_validity: minutes=1
    access_token_validity: minutes=5
    refresh_token_validity: days=30
    authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
    invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
    issuer_mode: global
    signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
    sub_mode: hashed_user_id
    redirect_uris:
      - matching_mode: regex
        url: ".*"
      - matching_mode: strict
        url: "http://ui.oasis.local"
    property_mappings:
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-openid]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-email]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-profile]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-offline_access]]

- model: authentik_core.application
  state: present
  identifiers:
    slug: swagger
  attrs:
    name: swagger
    slug: swagger
    policy_engine_mode: any
    provider: !Find [authentik_providers_oauth2.oauth2provider, [name, provider-for-swagger]]

- model: authentik_providers_oauth2.oauth2provider
  state: present
  identifiers:
    name: provider-for-oasis-server
  attrs:
    name: "Provider for oasis-server"
    client_id: oasis-server
    client_secret: EfNMUM3GG1bd1CYUvNfiBGWKfvbGFiNAdutEqHSarZ9H7oL0sZfKLvPT1ujaqVm2839Vka8Ky0elliMQ6yWKN8Jv8dzh3BeVFn0F7LPquGkIus6JJ9nGH1vtfCt7AhtO
    client_type: confidential
    include_claims_in_id_token: true
    access_code_validity: minutes=1
    access_token_validity: minutes=5
    refresh_token_validity: days=30
    authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
    invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
    issuer_mode: global
    signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
    sub_mode: hashed_user_id
    redirect_uris:
      - matching_mode: regex
        url: ".*"
      - matching_mode: strict
        url: "http://ui.oasis.local"
    property_mappings:
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-openid]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-email]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-profile]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-offline_access]]

- model: authentik_core.application
  state: present
  identifiers:
    slug: oasis-server
  attrs:
    name: oasis-server
    slug: oasis-server
    policy_engine_mode: any
    provider: !Find [authentik_providers_oauth2.oauth2provider, [name, provider-for-oasis-server]]


- model: authentik_providers_oauth2.scopemapping
  state: present
  identifiers:
    managed: goauthentik.io/providers/oauth2/scope-profile-service-account
  attrs:
    name: "Scope: profile with is_service_account"
    scope_name: profile
    description: "General profile information with is_service_account"
    expression: |
      return {
          # This is the exact same as profile but has an extra field is_service_account
          "name": request.user.name,
          "given_name": request.user.name,
          "preferred_username": request.user.username,
          "nickname": request.user.username,
          "groups": [group.name for group in request.user.ak_groups.all()],
          "is_service_account": True,
      }

- model: authentik_providers_oauth2.oauth2provider
  state: present
  identifiers:
    name: provider-for-oasis-service
  attrs:
    name: "Provider for oasis-service"
    client_id: oasis-service
    client_secret: serviceNotSoSecret
    client_type: confidential
    include_claims_in_id_token: true
    access_code_validity: minutes=1
    access_token_validity: minutes=5
    refresh_token_validity: days=30
    authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
    invalidation_flow: !Find [authentik_flows.flow, [slug, default-provider-invalidation-flow]]
    issuer_mode: global
    signing_key: !Find [authentik_crypto.certificatekeypair, [name, authentik Self-signed Certificate]]
    sub_mode: hashed_user_id
    redirect_uris:
      - matching_mode: regex
        url: ".*"
      - matching_mode: strict
        url: "http://ui.oasis.local"
    property_mappings:
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-openid]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-email]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-profile-service-account]]
      - !Find [authentik_providers_oauth2.scopemapping, [managed, goauthentik.io/providers/oauth2/scope-offline_access]]

- model: authentik_core.application
  state: present
  identifiers:
    slug: oasis-service
  attrs:
    name: oasis-service
    slug: oasis-service
    policy_engine_mode: any
    provider: !Find [authentik_providers_oauth2.oauth2provider, [name, provider-for-oasis-service]]

# Users are added here
___USERS___
