{{- $root := . }}

{{/*
   Config maps for database
*/}}
{{- range $k, $v := .Values.databases }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $v.name }}
  labels:
    {{- include "h.labels" $root | nindent 4 }}
data:
  host: {{ if ($v.host) }}{{ $v.host }}{{ else }}{{ $v.name }}{{ end }}
  port: {{ $v.port | quote }}
  {{- if $v.dbName }}
  dbName: {{ $v.dbName}}
  {{- end }}
  {{- if eq $v.type "redis" }}
  uri: "redis://{{ $v.name }}:{{ $v.port }}"
  {{- else if eq $v.type "rabbitmq" }}
  uri: "amqp://{{ $v.user }}:{{ $v.password }}@{{ $v.name }}:{{ $v.port }}"
  {{- end }}
---
{{- end }}
