{{ $name := printf "%s-oasis-ingress" .Release.Name | lower }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $name }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "64k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "8"
spec:
  {{- if .Values.ingress.tls.providedCertificate }}
  tls:
    - secretName: {{ .Values.ingress.tls.providedCertificateSecret }}
      hosts:
        - {{ .Values.ingress.uiHostname }}
  {{- else }}
  tls: []
  {{- end }}
  rules:
    - host: {{ .Values.ingress.uiHostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: oasis-ui
                port:
                  number: 8080
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: keycloak
                port:
                  number: 8080
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: oasis-server
                port:
                  number: 8000
