{{ $realmSecretName := printf "%s-realm" .Values.keycloak.name }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.keycloak.name }}
  labels:
  {{- include "h.labels" . | nindent 4 }}
data:
  host: {{ .Values.keycloak.name }}
  port: {{ .Values.keycloak.port | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.keycloak.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "h.labels" . | nindent 4}}
type: Opaque
data:
  user: {{ .Values.keycloak.user | b64enc }}
  password: {{ include "h.password" (list .Values.keycloak.name "password" . .Values.keycloak.password (printf "A valid password for %s is required" .Values.keycloak.name)) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $realmSecretName }}
data:
  oasis: |-
    {{- $userTemplate := .Files.Get "resources/oasis-realm-user.json" }}
    {{- $userJson := list -}}
    {{- $userJson = $userTemplate |
      replace "___UUID___" uuidv4 |
      replace "___USERNAME___" .Values.keycloak.oasisRestApi.platformServiceAccount.username |
      replace "___PASSWORD___" .Values.keycloak.oasisRestApi.platformServiceAccount.password |
      replace "___ROLES___" (join ", " (list "\"default-roles-oasis\"" "\"admin\"")) |
      replace "___GROUPS___" "" |
      append $userJson -}}
    {{- range $i, $user := .Values.keycloak.oasisRestApi.users }}
      {{- $groups := list }}
      {{- if $user.admin }}
        {{- $groups = append $groups "\"admin\"" }}
      {{- end }}
      {{- $userJson = $userTemplate |
        replace "___UUID___" uuidv4 |
        replace "___USERNAME___" $user.username |
        replace "___PASSWORD___" $user.password |
        replace "___ROLES___" "\"default-roles-oasis\"" |
        replace "___GROUPS___" (join ", " $groups ) |
        append $userJson -}}
    {{- end }}
    {{- .Files.Get "resources/oasis-realm.json" | replace "\"___USERS___\"" (join "," $userJson) | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.keycloak.name }}
  labels:
    {{- include "h.labels" . | nindent 4 }}
spec:
  ports:
    - port: {{ .Values.keycloak.port }}
      targetPort: {{ .Values.keycloak.port }}
      protocol: TCP
      name: keycloak-http
  selector:
    {{- include "h.selectorLabels" . | nindent 4 }}
    app: {{ .Values.keycloak.name }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.keycloak.name }}
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  selector:
    matchLabels:
      app: {{ .Values.keycloak.name }}
  replicas: 1
  template:
    metadata:
      labels:
        {{- include "h.labels" . | nindent 8 }}
        app: {{ .Values.keycloak.name }}
      annotations:
        checksum/{{ .Values.databases.keycloak_db.name }}: {{ toJson .Values.databases.keycloak_db | sha256sum }}
        checksum/realm: {{ .Files.Get "resources/oasis-realm.json" | sha256sum }}
    spec:
      {{- include "h.affinity" . | nindent 6 }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list . .Values.databases.keycloak_db.name) | nindent 8}}
      containers:
        - name: {{ .Values.keycloak.name }}
          image: {{ .Values.images.keycloak.image }}:{{ .Values.images.keycloak.version }}
          securityContext:
            readOnlyRootfilesystem: true
          args: [
            "start-dev", 
            "--import-realm",
            "--http-relative-path /auth",
            "--proxy edge",
            "--hostname-strict=false"]
          ports:
            - containerPort: {{ .Values.keycloak.port }}
          env:
            - name: KEYCLOAK_PROXY_ADDRESS_FORWARDING
              value: "true"
            - name: DB_VENDOR
              {{- if eq .Values.databases.keycloak_db.type "mysql" }}
              value: mysql
              {{- else }}
              value: postgres
              {{- end }}
            - name: DB_ADDR
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.databases.keycloak_db.name }}
                  key: host
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.databases.keycloak_db.name }}
                  key: port
            - name: DB_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.databases.keycloak_db.name }}
                  key: dbName
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak_db.name }}
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.databases.keycloak_db.name }}
                  key: password
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloak.name }}
                  key: user
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.keycloak.name }}
                  key: password
            - name: KEYCLOAK_LOGLEVEL
              value: INFO
            - name: PROXY_ADDRESS_FORWARDING
              value: "true"
            - name: KEYCLOAK_IMPORT
              value: "/opt/keycloak/data/import/oasis-realm.json"
          startupProbe:
            httpGet:
              path: /auth/realms/master
              port: 8080
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /auth/
              port: 8080
            initialDelaySeconds: 300
            periodSeconds: 15
            timeoutSeconds: 10
            failureThreshold: 2
          volumeMounts:
            - name: realm-config
              mountPath: /opt/keycloak/data/import/oasis-realm.json
              subPath: oasis
            - name: keycloak-temp
              mountPath: /opt/keycloak/data/tmp

      volumes:
        - name: realm-config
          readOnly: true
          configMap:
            name: {{ $realmSecretName }}
{{- if (.Values.azure).secretProvider }}
        - name: azure-secret-provider
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-secret-provider"
{{- end }}          
        - name: keycloak-temp
          emptyDir: {}
