---
apiVersion: v1
kind: Secret
metadata:
  name: oasis-rest-service-account
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "h.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if eq .Values.oasisServer.apiAuthType "keycloak" }}
  username: {{ .Values.keycloak.oasisRestApi.platformServiceAccount.username | b64enc }}
  password: {{ .Values.keycloak.oasisRestApi.platformServiceAccount.password | b64enc }}
  {{- else }}
  username: {{ .Values.oasisServer.user | b64enc }}
  password: {{ .Values.oasisServer.password | b64enc }}
  {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.oasisUI.name }}
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  type: NodePort
  ports:
    - port: {{ .Values.oasisUI.port }}
      targetPort: 3838
  selector:
    app: {{ .Values.oasisUI.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oasis-worker-monitor
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  selector:
    matchLabels:
      app: oasis-worker-monitor
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: oasis-worker-monitor
        {{- include "h.labels" . | nindent 8}}
      annotations:
        checksum/oasis-server: {{ toJson .Values.oasisServer | sha256sum }}
        checksum/{{ .Values.databases.oasis_db.name }}: versions{{ toJson .Values.databases.oasis_db | sha256sum }}
        checksum/{{ .Values.databases.celery_db.name }}: versions{{ toJson .Values.databases.celery_db | sha256sum }}
    spec:
      {{- include "h.affinity" . | nindent 6 }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list . .Values.databases.oasis_db.name .Values.databases.celery_db.name .Values.oasisServer.name .Values.databases.broker.name) | nindent 8}}
      containers:
        - image: {{ .Values.images.oasis.platform.image }}:{{ .Values.images.oasis.platform.version }}
          imagePullPolicy: {{ .Values.images.oasis.platform.imagePullPolicy }}
          name: oasis-worker-monitor
          env:
{{- include "h.serverDbVars" . | indent 12}}
{{- include "h.celeryDbVars" . | indent 12}}
{{- include "h.brokerVars" . | indent 12 }}
{{- include "h.channelLayerVars" . | indent 12 }}
            - name: OASIS_DEBUG
              value: "1"
          command: [ "celery", "-A", "src.server.oasisapi.celery_app", "worker", "--loglevel=INFO" ]
          volumeMounts:
            - name: shared-fs-persistent-storage
              mountPath: /shared-fs
{{- if (.Values.azure).secretProvider }}
            - name: azure-secret-provider
              mountPath: "/mnt/azure-secrets-store"
              readOnly: true
{{- end }}
          startupProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 10
      volumes:
{{- if ((.Values.volumes.host).sharedFs) }}
        - name: shared-fs-persistent-storage
          persistentVolumeClaim:
            claimName: {{ .Values.volumes.host.sharedFs.name }}
{{- else if ((.Values.volumes.azureFiles).sharedFs) }}
        - name: shared-fs-persistent-storage
{{- toYaml .Values.volumes.azureFiles.sharedFs | nindent 10 }}
{{- if (.Values.azure).secretProvider }}
        - name: azure-secret-provider
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-secret-provider"
{{- end }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.oasisUI.name }}
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  selector:
    matchLabels:
      app: {{ .Values.oasisUI.name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .Values.oasisUI.name }}
        {{- include "h.labels" . | nindent 8}}
      annotations:
        checksum/{{ .Values.oasisServer.name }}: {{ toJson .Values.oasisServer | sha256sum }}
    spec:
      {{- include "h.affinity" . | nindent 6 }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list . .Values.oasisServer.name) | nindent 8}}
      containers:
        - image: {{ .Values.images.oasis.ui.image }}:{{ .Values.images.oasis.ui.version }}
          name: {{ .Values.oasisUI.name }}
          env:
            {{- include "h.serverApiVars" . | nindent 12}}
            - name: API_VERSION
              value: v1
            - name: OASIS_ENVIRONMENT
              value: oasis_localhost
            - name: API_SHARE_FILEPATH
              value: ./downloads
          ports:
            - containerPort: 3838
              name: {{ .Values.oasisUI.name }}
          volumeMounts:
{{- if (.Values.azure).secretProvider }}
            - name: azure-secret-provider
              mountPath: "/mnt/azure-secrets-store"
              readOnly: true
{{- end }}
          startupProbe:
            httpGet:
              path: /
              port: 3838
              scheme: HTTP
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /
              port: 3838
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 2
            failureThreshold: 2
{{- if (.Values.azure).secretProvider }}
      volumes:
        - name: azure-secret-provider
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-secret-provider"
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-beat
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  selector:
    matchLabels:
      app: celery-beat
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: celery-beat
        {{- include "h.labels" . | nindent 8}}
      annotations:
        checksum/{{ .Values.databases.oasis_db.name }}: versions{{ toJson .Values.databases.oasis_db | sha256sum }}
        checksum/{{ .Values.databases.celery_db.name }}: versions{{ toJson .Values.databases.celery_db | sha256sum }}
        checksum/{{ .Values.databases.channel_layer.name }}: versions{{ toJson .Values.databases.channel_layer | sha256sum }}
    spec:
      {{- include "h.affinity" . | nindent 6 }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list . .Values.databases.oasis_db.name .Values.databases.celery_db.name .Values.databases.channel_layer.name) | nindent 8}}
      containers:
        - image: {{ .Values.images.oasis.platform.image }}:{{ .Values.images.oasis.platform.version }}
          securityContext:
            readOnlyRootFilesystem: true
          imagePullPolicy: {{ .Values.images.oasis.platform.imagePullPolicy }}
          name: celery-beat
          command: ["celery", "-A", "src.server.oasisapi.celery_app", "beat", "--loglevel=DEBUG"]
          env:
            {{- include "h.serverDbVars" . | indent 12}}
            {{- include "h.celeryDbVars" . | indent 12}}
            {{- include "h.brokerVars" . | indent 12 }}
            {{- include "h.channelLayerVars" . | indent 12 }}
          volumeMounts:
{{- if (.Values.azure).secretProvider }}
            - name: azure-secret-provider
              mountPath: "/mnt/azure-secrets-store"
              readOnly: true
{{- end }}
          startupProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 10
{{- if (.Values.azure).secretProvider }}
      volumes:
        - name: azure-secret-provider
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-secret-provider"
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oasis-task-controller
  labels:
    {{- include "h.labels" . | nindent 4}}
spec:
  selector:
    matchLabels:
      app: oasis-task-controller
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: oasis-task-controller
        {{- include "h.labels" . | nindent 8}}
      annotations:
        checksum/{{ .Values.databases.oasis_db.name }}: versions{{ toJson .Values.databases.oasis_db | sha256sum }}
        checksum/{{ .Values.databases.celery_db.name }}: versions{{ toJson .Values.databases.celery_db | sha256sum }}
        checksum/{{ .Values.databases.broker.name }}: versions{{ toJson .Values.databases.broker | sha256sum }}
        checksum/{{ .Values.databases.channel_layer.name }}: versions{{ toJson .Values.databases.channel_layer | sha256sum }}
    spec:
      {{- include "h.affinity" . | nindent 6 }}
      initContainers:
        {{- include "h.initTcpAvailabilityCheckBySecret" (list . .Values.databases.oasis_db.name .Values.databases.celery_db.name .Values.databases.channel_layer.name .Values.databases.broker.name) | nindent 8}}
      containers:
        - image: {{ .Values.images.oasis.platform.image }}:{{ .Values.images.oasis.platform.version }}
          imagePullPolicy: {{ .Values.images.oasis.platform.imagePullPolicy }}
          name: main
          command: ["celery", "-A", "src.server.oasisapi.celery_app", "worker", "--loglevel=INFO", "-Q", "task-controller"]
          env:
            {{- include "h.serverDbVars" . | indent 12}}
            {{- include "h.celeryDbVars" . | indent 12}}
            {{- include "h.brokerVars" . | indent 12 }}
            {{- include "h.channelLayerVars" . | indent 12 }}
            - name: OASIS_DEBUG
              value: "1"
          volumeMounts:
{{- if (.Values.azure).secretProvider }}
            - name: azure-secret-provider
              mountPath: "/mnt/azure-secrets-store"
              readOnly: true
{{- end }}
          startupProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 30
          livenessProbe:
            exec:
              command: ["celery", "-A", "src.server.oasisapi.celery_app", "inspect", "ping"]
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 10
{{- if (.Values.azure).secretProvider }}
      volumes:
        - name: azure-secret-provider
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-secret-provider"
{{- end }}
