# Documentation build dependencies (OasisPlatform docs/source)
sphinx
furo
myst-parser
sphinx-design
sphinx-copybutton
sphinxcontrib-redoc
setuptools<81      # sphinxcontrib-redoc needs pkg_resources
