name: Platform Schema (OpenAPI)

on:
  push:
    branches:
      - platform-2.0
      - platform-2.0-develop
  pull_request:
    branches:
      - platform-2.0
      - platform-2.0-develop
  workflow_dispatch:
  workflow_call:


jobs:
  schema:
    env:
      SCHEMA: 'reports/openapi-schema.json'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install requirments
      run: pip install -r requirements-server.txt

    - name: Generate OpenAPI
      run: |
        python ./manage.py migrate
        python ./manage.py generate_swagger ${{ env.SCHEMA }}

    - name: Store OpenAPI schema
      uses: actions/upload-artifact@v3
      with:
        name: openapi-schema
        path: ${{ env.SCHEMA }}
        retention-days: 3

    - name: Test Schema
      run: ./scripts/build-maven.sh $(cat VERSION)
