name: Platform Schema (OpenAPI)

on:
  push:
    branches:
      - platform-2.0
      - platform-2.0-develop
  pull_request:
    branches:
      - platform-2.0
      - platform-2.0-develop
  workflow_dispatch:
    inputs:
      ods_branch:
        description: 'If set, pip install ods-tools branch [git ref]'
        required: false
  workflow_call:
    inputs:
      ods_branch:
        description: 'If set, pip install ods-tools branch [git ref]'
        required: false
        type: string

jobs:
  ods_tools:
    if: inputs.ods_branch != ''
    uses: OasisLMF/ODS_Tools/.github/workflows/build.yml@develop
    secrets: inherit
    with:
      ods_branch: ${{ github.event_name != 'workflow_dispatch' && 'develop' || inputs.ods_branch }}

  schema:
    if: ${{ ! failure() || ! cancelled() }}
    needs: ods_tools
    env:
      SCHEMA: 'reports/openapi-schema.json'
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install requirments
      run: pip install -r requirements-server.txt

    - name: Download package
      if: needs.ods_tools.outputs.whl_filename != ''
      uses: actions/download-artifact@v3
      with:
        name: bin_package
        path: ${{ github.workspace }}/

    - name: Install package
      if: needs.ods_tools.outputs.whl_filename != ''
      run: |
        pip uninstall ods-tools -y
        pip install ${{ needs.ods_tools.outputs.whl_filename }}

    - name: Generate OpenAPI
      run: |
        test -d $(dirname ${{ env.SCHEMA }}) || mkdir -p $(dirname ${{ env.SCHEMA }})
        python ./manage.py migrate
        python ./manage.py generate_swagger ${{ env.SCHEMA }}

    - name: Store OpenAPI schema
      uses: actions/upload-artifact@v3
      with:
        name: openapi-schema
        path: ${{ env.SCHEMA }}
        retention-days: 3

    - name: Test Schema
      run: ./scripts/build-maven.sh $(cat VERSION)
